@media (min-width: 2000px) {
  .wrapper {
    font-size: 36px;
  }

  .container {
    gap: 30px;
  }
}

@media (max-width: 940px) {
  .wrapper {
    font-size: 12px;
  }

  .button {
    padding: 5px;
  }
}

@media (max-width: 560px) {
  .container {
    width: 90vw;
    gap: 10px;
  }

  .game-container {
    grid-template-rows: repeat(3, 28vw);
  }
}
